<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" (click)="openModal()">
  Add Department
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="previewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Department Info</h1>
        <button type="button" (click)="closeModal()" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>
             Name:
            <h3>
             {{department()?.name}}
            </h3>
          </li>
          <li>
            Location: {{department()?.location}}
          </li>
          <li>
            Last updated Salary: {{department()?.lastUpdated ?? 'Not updated'}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button  (click)="closeModal()"  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
