<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Department</th>
      <th scope="col">Location</th>
      <th scope="col">Last updated</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (department of departments(); track department.id; let index = $index) {
    <tr>
      <td>{{ index + 1 }}</td>
      <td>{{ department.name }}</td>
      <td>{{ department.location }}</td>
      <td>{{ department.lastUpdated ?? 'Not updated' }}</td>
      <td>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-primary btn-sm rounded-circle" (click)="onAction('edit', department)">
            <mat-icon>edit</mat-icon>
          </button>

          <button class="btn btn-outline-danger btn-sm rounded-circle" (click)="onAction('delete',department)">
            <mat-icon>delete</mat-icon>
          </button>

          <button class="btn btn-outline-secondary btn-sm rounded-circle" (click)="onAction('preview',department)">
            <mat-icon>preview</mat-icon>
          </button>
        </div>
      </td>
    </tr>
    } @if (errorMessage()) {
    <tr>
      <td colspan="8" class="text-center">
        {{ errorMessage() }}
      </td>
    </tr>
    } @if(departments().length === 0 && isLoading() === false){
    <tr>
      <td colspan="8" class="text-center">No results</td>
    </tr>
    } @if (isLoading()) {
    <tr>
      <td colspan="8" class="text-center">Searching departments...</td>
    </tr>
    }
  </tbody>
</table>
